<!-- HTML file -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='1CSS1.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <!-- Header with company name -->
  <div id="header">
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <h1>Swasthrekha</h1>
  </div>
  <!-- Sidebar menu -->
  <div id="side">
    <header onclick="showContent('initial')">My App</header>
    <ul>
      <li><a href="#" onclick="showContent('heart')"><i class="fas fa-heart"></i>Heart Disease prediction</a></li>
      <li><a href="#" onclick="showContent('diabetes')"><i class="fas fa-vial"></i>Diabetes prediction</a></li>
      <li><a href="#" onclick="showContent('lung')"><i class="fas fa-lungs"></i>Lung cancer</a></li>
      <li><a href="#" onclick="showContent('feedback')"><i class="fas fa-receipt"></i>Feedback</a></li>
    </ul>
  </div>
  <!-- Main content -->
  <div id="main">
      <div id="initial">
      <p style="text-align: center">Swasthrekha is a website that cares about your well-being and wants to help you live a healthy and happy life.Swasthrekha is a website that uses machine learning algorithms to predict heart disease, lung cancer, and diabetes. It is a website that aims to help people monitor their health and prevent serious illnesses. Swasthrekha allows you to enter your personal and medical information, and get an assessment for each condition.</p>
      </div>
    <!-- Heart disease prediction content -->
    <div id="heart" class="content">
      <h2>Heart Disease prediction</h2>
      <p>Enter the following information to get a prediction of your risk of having heart disease.</p>
      <!-- Heart disease prediction form -->
        <form id="heart-form" onsubmit="submitForm(event, 'heart')" action="/predict/heart" method="POST">
            <label for="age">Age:</label>
            <input type="text" id="age" name="age" placeholder="Enter your age in years" required>

            <label for="sex">Sex:</label>
            <div class="select">
                <select id="sex" name="sex" required>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>

            <label for="cp">Chest pain type:</label>
            <div class="select">
                <select id="cp" name="cp" required>
                    <option value="0">Typical Angina</option>
                    <option value="1">Atypical Angina</option>
                    <option value="2">Non-anginal Pain</option>
                    <option value="3">Asymptomatic</option>
                </select>
            </div>

            <label for="trestbps">Resting blood pressure:</label>
            <input type="text" id="trestbps" name="trestbps" placeholder="Enter resting blood pressure in mm Hg" required>

            <label for="chol">Cholesterol:</label>
            <input type="text" id="chol" name="chol" placeholder="Enter cholesterol level in mg/dl" required>

            <label for="fbs">Fasting blood sugar:</label>
            <input type="text" id="fbs" name="fbs" placeholder="Enter Fasting blood sugar level in mg/dl" required>

            <label for="rest_ecg">Resting electrocardiographic results:</label>
            <div class="select">
                <select id="rest_ecg" name="rest_ecg" required>
                    <option value="0">Normal</option>
                    <option value="1">ST-T Wave Abnormality</option>
                    <option value="2">Probable or Definite Left Ventricular Hypertrophy</option>
                </select>
            </div>

            <label for="thalach">Maximum heart rate achieved:</label>
            <input type="text" id="thalach" name="thalach" placeholder="The person's maximum heart rate achieved" required>

            <label for="exang">Exercise induced angina:</label>
            <div class="select">
                <select id="exang" name="exang" required>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <label for="oldpeak">ST depression induced by exercise relative to rest:</label>
            <input type="text" id="oldpeak" name="oldpeak" placeholder="Enter depression value " required>

            <label for="slope">The slope of the peak exercise ST segment:</label>
            <div class="select">
                <select id="slope" name="slope" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>

            <label for="ca">The number of major vessels:</label>
            <div class="select">
                <select id="ca" name="ca" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <label for="thal">A blood disorder called thalassemia:</label>
            <div class="select">
                <select id="thal" name="thal" required>
                    <option value="1">Fixed Defect</option>
                    <option value="2">Normal Blood Flow</option>
                    <option value="3">Reversible Defect</option>
                </select>
            </div>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>

            <button type="submit">Submit</button>
        </form>
      <!-- Heart disethalach prediction result -->
      <div id="heart-result" class="result"></div>
    </div>
    <!-- Diabetes prediction content -->
    <div id="diabetes" class="content" style="display:none">
      <h2>Diabetes prediction</h2>
      <p>Enter the following information to get a prediction of your risk of having diabetes.</p>
      <!-- Diabetes prediction form -->
     <form id="diabetes-form" onsubmit="submitForm(event, 'diabetes')" action="/predict/diabetes" method="POST">
        <label for="pregnancies">Pregnancies:</label>
        <input type="text" id="pregnancies" name="pregnancies" placeholder="Enter the number of times you were pregnant" required>

        <label for="glucose">Glucose:</label>
         <input type="text" id="glucose" name="glucose" placeholder="Enter your level of glucose " required>

        <label for="bloodpressure">Blood pressure:</label>
        <input type="text" id="bloodpressure" name="bloodpressure" placeholder="Enter your blood pressure level  " required>

        <label for="skinthickness">Skin thickness:</label>
        <input type="text" id="skinthickness" name="skinthickness" placeholder="Enter your triceps skin fold thickness in mm" required>

        <label for="insulin">Insulin:</label>
        <input type="text" id="insulin" name="insulin" placeholder="2-Hour serum insulin (mu U/ml)" required>

        <label for="bmi">Body Mass Index:</label>
        <input type="text" id="bmi" name="bmi" placeholder="Enter your BMI " required>

        <label for="DiabetesPedigreeFunction">Diabetes Pedigree function value(DPF):</label>
         <input type="text" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" placeholder="Enter DPF value between 0.08 to 2.42" required>

        <label for="age">Age:</label>
        <div class="select">
            <select id="age" name="age" required>
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
        </div>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <button type="submit">Submit</button>
    </form>
      <!-- Diabetes prediction result -->
      <div id="diabetes-result" class="result"></div>
    </div>
    <!-- Lung cancer content -->
    <div id="lung" class="content" style="display:none">
      <h2>Lung cancer</h2>
      <p>Enter the following information to get a prediction of your risk of having lung cancer.</p>
      <!-- Lung cancer form -->
      <form id="lung-form" onsubmit="submitForm(event, 'lung')" action="/predict/lung" method="POST">
        <label for="gender">Gender:</label>
        <div class="select">
            <select id="gender" name="gender" required>
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
        </div>

        <label for="age">Age:</label>
        <input type="text" id="age" name="age" placeholder="Enter your age in years" required>

        <label for="smoking">Smoking:</label>
        <div class="select">
            <select id="smoking" name="smoking" required>
                <option value="1">Smoker</option>
                <option value="0">Non-smoker</option>
            </select>
        </div>

        <label for="yellow_fingers">Yellow fingers:</label>
        <div class="select">
            <select id="yellow_fingers" name="yellow_fingers" required>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>

        <label for="anxiety">Anxiety:</label>
        <div class="select">
            <select id="anxiety" name="anxiety" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="peer_pressure">Peer Pressure:</label>
        <div class="select">
            <select id="peer_pressure" name="peer_pressure" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="Chronic_Disease">Chronic Disease:</label>
        <div class="select">
            <select id="Chronic_Disease" name="Chronic_Disease" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="Fatigue">Fatigue:</label>
        <div class="select">
            <select id="Fatigue" name="Fatigue" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="Allergy">Allergy:</label>
        <div class="select">
            <select id="Allergy" name="Allergy" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="wheezing">Wheezing:</label>
        <div class="select">
            <select id="wheezing" name="wheezing" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="Alcohol">Alcohol:</label>
        <div class="select">
            <select id="Alcohol" name="Alcohol" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="Coughing">Coughing:</label>
        <div class="select">
            <select id="Coughing" name="Coughing" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="Shortness_of_Breath">Shortness of Breath:</label>
        <div class="select">
            <select id="Shortness_of_Breath" name="Shortness_of_Breath" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="Swallowing_Difficulty">Swallowing Difficulty:</label>
        <div class="select">
            <select id="Swallowing_Difficulty" name="Swallowing_Difficulty" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="Chest_pain">Chest pain:</label>
        <div class="select">
            <select id="Chest_pain" name="Chest_pain" required>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <button type="submit">Submit</button>
    </form>
      <!-- Lung cancer result -->
      <div id="lung-result" class="result"></div>
    </div>

    <!-- Feedback content -->
    <div id="feedback" class="content" style="display:none">
      <h2>Feedback</h2>
      <p>Please share your feedback and rate your experience using our website.</p>
      <!-- Feedback form -->
      <form id="feedback-form" onsubmit="submitForm(event, 'feedback')" action="/predict/feedback" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <label for="comment">Comment:</label>
        <input type="text" id="comment" name="comment" placeholder="Enter your comment" required>
        <label for="rating">Rating:</label>
        <div id="rating">
          <div class="rating-option">
              <input type="radio" id="star5" name="rating" value="5" required>
              <label for="star5" title="5 stars">☆☆☆☆☆</label>
          </div>
          <div class="rating-option">
              <input type="radio" id="star4" name="rating" value="4" required>
              <label for="star4" title="4 stars">☆☆☆☆</label>
          </div>
          <div class="rating-option">
              <input type="radio" id="star3" name="rating" value="3" required>
              <label for="star3" title="3 stars">☆☆☆</label>
          </div>
          <div class="rating-option">
              <input type="radio" id="star2" name="rating" value="2" required>
              <label for="star2" title="2 stars">☆☆</label>
          </div>
          <div class="rating-option">
              <input type="radio" id="star1" name="rating" value="1" required>
              <label for="star1" title="1 star">☆</label>
          </div>
        </div>

        <button type="submit">Submit</button>
      </form>
      <!-- Feedback result -->
      <div id="feedback-result" class="result"></div>
    </div>
  </div>
  <!-- JavaScript file -->
  <script src="{{ url_for('static', filename='2JSSCR.js') }}"></script>
</body>
</html>
